:root {
    --primary-color: #055a05; 
    --secondary-color: wheat; 
    --accent1-color: #264653;  
    --border-color: black;  
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    }

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: var(--accent1-color);
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
div section {
    position: absolute;
}
div img {
    width: 860px;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px var(--border-color);
    font-size: 40px;
    border: 2px solid var(--secondary-color);
}
h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    /* display: flex;
    justify-content: center; */
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: -14px;

    
}
main p {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--border-color);
}
.hero article {
    position: absolute;
    display: flex;             
    align-items: center;      
    gap: 6px;                 
    background-color: var(--accent1-color);
    color: var(--secondary-color);         
    padding: 2px;
    border: 2px solid var(--secondary-color);    
    border-radius: 10px;
    max-width: 840px;         
    margin: -135px auto;         
    z-index: 2;    
    font-size: 17px;            
}
.hero article img {
    position: relative;
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;       
    border: 2px solid var(--secondary-color); 
    float: right;
    order:2;
    margin-right: 10px;
     

}
nav a {
    text-decoration: none;
    text-shadow: 2px 2px 4px var(--border-color);
}
.hero {
    position: relative;
    padding-bottom: 10px;

}
.hero img {
    display:block;
    width: 100%;
    height: auto;
}
.socialmedia {
    text-shadow: 1px 1px 2px var(--border-color);
}
.socialmedia img {
    width: 28px; 
}
.socialmedia a {
    text-decoration: none;
    color: var(--secondary-color);
}

.happy2 {
    width: auto;
    height: auto;
    max-width: 250px; 
}
.container {
    display: grid;
    grid-template-columns:  1fr 3fr;
    background-color: var(--accent1-color);
}
.container img {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 120px;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
     
}
header {
    display: flex;
    align-items: center;
    background-color: var(--accent1-color);
    border: 2px solid var(--secondary-color);
}
li a {
    font-size: x-large;
    color: var(--secondary-color);
}
section {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--border-color); 
}
.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
                    
}
.section1 img {
    height: 150px;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}
.p1 {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    margin-right: -15px;
    text-align: center;

}
.p2 {
    grid-column: 3;
    grid-row: 2;
    margin-left: -13px;
    text-align: center;
}


p {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}
footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    border: 2px solid var(--secondary-color);
    
    
}
footer p {
    grid-column: 2;
}
footer nav {
    grid-column: 3;
    justify-self: right;
    
}