:root {
    --primary-color: #055a05; 
    --secondary-color: wheat; 
    --accent1-color: #264653; 
     
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    }

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
div section {
    position: absolute;
}
div img {
    width: 860px;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.45);
    font-size: 40px;
    border-radius: 10px;

}
h2 {
    background-color: #264653;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
main p {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
.hero article {
    position: absolute;
    display: flex;             
    align-items: center;      
    gap: 6px;                 
    background-color: var(--accent1-color);
    color: var(--secondary-color);         
    padding: 2px;
    border: 2px solid #ccc;    
    border-radius: 10px;
    max-width: 800px;         
    margin: -135px auto;         
    z-index: 2;    
    font-size: 17px;            
}
.hero article img {
    position: relative;
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;       
    border: 2px solid black; 
    float: right;

}
nav a {
    text-decoration: none;
}
.hero {
    position: relative;
    padding-bottom: 150px;

}
.hero img {
    display:block;
    width: 100%;
    height: auto;
}
.socialmedia img {
    width: 40px; 
}
.socialmedia a {
    text-decoration: none;
}
.happy2 {
    width: auto;
    height: auto;
    max-width: 250px; 
}