* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #abe0e9; 
  --secondary-color: #2c38a7; 
  --accent1-color: #070202; 
  --accent2-color: #000000; 
  --accent3-color: #000000;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}
header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  -webkit-text-fill-color: black;
  }
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}
h1 {
  -webkit-text-fill-color: var(--primary-color);
  font-family: var(--heading-font);
  color: var(--accent1-color);
}
h2 {
  -webkit-text-fill-color: var(--primary-color);
  font-family: var(--heading-font);
  color: var(--accent1-color);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
  -webkit-text-fill-color: var(--primary-color);
}
.socialmedia a {
  text-decoration: none;
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
  }
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #c1dff7; 
}
.hero article img {
  float: right;
  width: 200px;
}
html, body {
    background: black;
    height: 100%;
    margin: 0;
  }