* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-align: center;
}
nav {
  background-color: rgb(50, 50, 190);
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 2px;
}
h1 {
  color: darkblue;
}
img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}
main {
  max-width: 640px;
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}
aside {
  width: 20em;
  text-align: center;
  position: relative;
}
aside img {
  width: 200px;
  height: auto;
}
aside h2 {
  position: absolute;
  top: 65px;
  left: 150px
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: var(--text-align);
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}