* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-align: center;
}
nav {
  background-color: rgb(26, 75, 116);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}
nav a {
  color: white;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  font-size: large;
}
h1 {
  color: rgb(26, 75, 116);
  border-bottom: 1px solid rgb(26, 75, 116);
  min-height: 50px;
  text-align: center;
}
h2 {
  color: white
}
img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding-top: 10px;
}
main {
  max-width: 640px;
  grid-column: 2/3;
  margin: 1rem;
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 1rem 0 1rem 1rem;
}
aside {
  width: 20em;
  text-align: center;
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
}
aside img {
  width: 200px;
  height: auto;
}
aside h2 {
  position: absolute;
  top: 65px;
  left: 150px
}
header, .grid, footer {
  max-width: 840px;
  margin:0 auto
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: var(--text-align);
}

.box {
  margin: 10px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
.grid {
  display:grid;
  align-items: center;
}
li {
  margin-left: 20px;
}
ul.box {
  margin-left:0;
  width: auto;
}

